In [1]:
import myst_classes as mc

import networkx as nx
import re
import numpy as np
import pandas as pd
import random as rand
import matplotlib.pyplot as plt
from itertools import count, product

# 0: Preliminaries

First we read in the edge lists (for graphs with 4, 5, 6, 7, and 8 vertices) and construct networkx objects for all of the graphs:

In [2]:
graphs = pd.read_csv('all_graphs.txt')

In [3]:
graphs['Edges'] = [eval(edge_list) for edge_list in graphs['Edges']]

In [4]:
def build_graph(num_nodes, edge_list):
    G = nx.Graph()
    G.add_nodes_from(np.arange(num_nodes))
    nx.set_node_attributes(G, 0, name = 'color')
    G.add_edges_from(edge_list)
    return(G)

graphs['Graph_Objects'] = [build_graph(num_nodes, edge_list) for num_nodes, edge_list in zip(graphs['Num_Nodes'], graphs['Edges'])]

Now we find the minimum degree in each graph and separate out those with a minimum degree of 1 (invalid graphs):

In [5]:
def min_degree(G):
    return(min([tup[1] for tup in list(G.degree(np.arange(G.number_of_nodes())))]))

graphs['Min_Degree'] = [min_degree(G) for G in graphs['Graph_Objects']]

In [6]:
valid_graphs = graphs[graphs.Min_Degree > 1].copy()
invalid_graphs = graphs[graphs.Min_Degree == 1].copy()

Now separate the valid graphs by number of vertices:

In [7]:
four_graphs = valid_graphs[valid_graphs.Num_Nodes == 4].copy()
five_graphs = valid_graphs[valid_graphs.Num_Nodes == 5].copy()
six_graphs = valid_graphs[valid_graphs.Num_Nodes == 6].copy()
seven_graphs = valid_graphs[valid_graphs.Num_Nodes == 7].copy()
eight_graphs = valid_graphs[valid_graphs.Num_Nodes == 8].copy()

# 1: Finding Solvable Configurations

In [8]:
four_graphs[four_graphs['Num_Edges'] == 4]

,Name,Edges,Num_Nodes,Num_Edges,Graph_Objects,Min_Degree
3,Graph 4-4,"[(0, 2), (0, 3), (1, 2), (1, 3)]",4,4,"(0, 1, 2, 3)",2

In [9]:
five_graphs[five_graphs['Num_Edges'] == 5]

,Name,Edges,Num_Nodes,Num_Edges,Graph_Objects,Min_Degree
19,Graph 5-14,"[(0, 2), (0, 3), (1, 3), (1, 4), (2, 4)]",5,5,"(0, 1, 2, 3, 4)",2

In [10]:
six_graphs[six_graphs['Num_Edges'] == 6]

,Name,Edges,Num_Nodes,Num_Edges,Graph_Objects,Min_Degree
73,Graph 6-47,"[(0, 3), (0, 4), (1, 3), (1, 5), (2, 4), (2, 5)]",6,6,"(0, 1, 2, 3, 4, 5)",2

In [11]:
seven_graphs[seven_graphs['Num_Edges'] == 7]

,Name,Edges,Num_Nodes,Num_Edges,Graph_Objects,Min_Degree
560,Graph 7-422,"[(0, 3), (0, 4), (1, 4), (1, 5), (2, 5), (2, 6...",7,7,"(0, 1, 2, 3, 4, 5, 6)",2

In [19]:
eight_graphs[eight_graphs['Num_Edges'] == 8]

,Name,Edges,Num_Nodes,Num_Edges,Graph_Objects,Min_Degree
3906,Graph 8-2915,"[(0, 4), (0, 5), (1, 4), (1, 6), (2, 5), (2, 7...",8,8,"(0, 1, 2, 3, 4, 5, 6, 7)",2

In [13]:
# graph4_4 = graph_solver(four_graphs.loc[3, 'Edges'], 4, 2)

# Sandbox

In [14]:
import sys
sys.getrecursionlimit()

2000

In [15]:
colors_list = [2, 3, 4, 5, 6, 7]